@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/buttons";

@import '../variables';

@mixin paint-button($primary-color, $alt-color, $border-color) {
  background-color: $primary-color;
  color: $alt-color;
  border: thin solid $border-color;
  &:not(:disabled):not(.disabled) {
    &:hover {
      background-color: $alt-color;
      color: $primary-color;
      transition: 0.5s;
    }
  }
}

.button {
  @extend .btn;
  text-decoration: none;
  padding: 0.5em 1.8em;

  &:disabled,
  &.disabled {
    pointer-events: none;
  }

  &.button-primary {
    @include paint-button($azul-fs, white, $azul-fs);
  }

  &.button-alt {
    @include paint-button($azul-fs, white, $white);
  }
}
