dl {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;

  .dl-row {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 0.5em;

    dt.dt-icon {
      width: 32px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex: none;
    }

    dd {
      margin-left: 0.8rem;
      min-width: 0;
      text-align: left;
    }
  }
}
