nav {
  button#btn-menu {
    z-index: 3;
    box-shadow: none;
    background-color: transparent;
    color: $blue-primary;
  }

  ul.navbar-links-container {
    display: none;
  }
}

@media (min-width: 992px) {
  nav {
    button#btn-menu {
      display: none;
    }

    ul.navbar-links-container {
      display: flex;

      li.navbar-link {
        display: flex;
        justify-content: center;
        align-items: center;
        > a {
          transition: 0.3s;
          color: $blue-primary;
          font-family: 'Nunito', sans-serif;
          background-color: white;
          font-weight: bold;
          font-size: 1.2rem;
          padding-left: 1em;
          padding-right: 1em;
          &:hover {
            color: $red-primary;
            transition: 0.3s;
          }
        }

        a {
          display: block;
          text-decoration: none;
          cursor: pointer;
        }

        .container-submenu {
          background-color: $red-primary;
          color: white;
          visibility: hidden;
          z-index: 3;
          position: absolute;
          top: 100%;
          right: 0;
          left: 0;
          ul {
            list-style: none;
            display: grid;
            grid-template-columns: 50% 50%;
            grid-auto-flow: row;
            li {
              a {
                color: white;
                display: block;
                padding: 0.5em 1em 0.5em 0;
              }
            }
          }
        }
      }
    }
  }
}
