@import '../variables';

main {
  section {
    background-color: white;
    padding-top: 6em;
    padding-bottom: 6em;
    h2 {
      font-size: $encabezado2;
      font-family: $fuente-titulo;
      margin-top: 0;
    }
  }
}