@import '../variables';

nav.treeview {
  color: $blue-primary;

  ul.treeview-root {
    margin: 0;
    padding: 0;
    list-style: none;
    li.treeview-root-group {
      margin-bottom: 2em;
      .treeview-item {
        font-weight: bold;
        font-size: 1.2rem;
        font-family: 'Montserrat', sans-serif;
      }
      ul {
        list-style: none;
        padding-left: 0;
        li {
          margin-top: 1em;
          margin-bottom: 1em;
          a {
            text-decoration: none;
            color: $blue-primary;
            font-weight: bold;
          }
          a.active {
            color: $red-primary;
          }
        }
      }
    }
  }
}
