main {
  form#frm-contacto {
    width: 100%;
  }

  #location-map {
    width: 100%;
    height: 550px;
  }
}

@media (min-width: 992px) {
  main {
    form#frm-contacto {
      width: 80%;
      margin: 0 auto;
    }

    #location-map {
      height: 450px;
    }
  }
}
