@import '../variables';
@import '../theme/button';

main {
  .carousel {
    .splide__slide {
      position: relative;
      .carousel-image-caption {
        position: absolute;
        background-color: $blue-primary;
        color: white;
        padding: 1.5em;
        bottom: 0;
        width: 100%;
        height: auto;
        h2 {
          margin-top: 0;
        }
      }
    }
  }

  section#section-home-look-for-soat {
    overflow-x: hidden;
    text-align: center;
    #btn-quote-soat,
    #btn-buy-soat {
      margin: 1em;
    }
  }

  section#section-home-insurance-companies {
    .insurance-companies-wrapper {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      width: 100%;

      img {
        height: auto;
        width: 160px;
        margin: 3em 2em;
      }
    }
  }
}

@media (min-width: 768px) {
  main {
    .carousel {
      .splide__slide {
        .carousel-image-caption {
          max-width: 450px;
          top: 1.5em;
          left: calc((100% - 720px) / 2);
          height: auto;
          bottom: unset;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  main {
    .carousel {
      .splide__slide {
        .carousel-image-caption {
          left: calc((100% - 960px) / 2);
        }
      }
    }

    section#section-home-insurance-companies {
      .section-heading {
        .section-title {
          text-align: left;
        }
      }
      .section-body {
        margin-bottom: 0;
      }
    }
  }
}

@media (min-width: 992px) {
  main {
    .carousel {
      .splide__slide {
        .carousel-image-caption {
          left: calc((100% - 1140px) / 2);
        }
      }
    }
  }
}
