main {
  .splide__slide img {
    width: 100%;
    height: auto;
  }

  .seguros-card-home-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;

    .seguros-card-home {
      max-width: 300px;
      margin: 1.5em;
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
      img {
        width: 100%;
        height: auto;
      }
    }
  }

  a#btn-soat-cotizar,
  a#btn-soat-comprar {
    margin: 0.8rem;
  }

  section#aseguradoras-section {
    .section-title {
      text-align: center;
    }

    .insurance-company-wrapper {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      width: 100%;

      img {
        height: auto;
        width: 160px;
        margin: 3em 2em;
      }
    }
  }
}

@media (min-width: 992px) {
  main {
    .seguros-card-home-wrapper {
      .seguros-card-home {
        margin-left: 1em;
        margin-right: 1em;
        &:first-child {
          margin-top: 1.5em;
        }
        &:last-child {
          margin-bottom: 1.5em;
        }
      }
    }

    section#aseguradoras-section {
      .section-title {
        text-align: left;
      }
    }
  }
}
