@import '../variables';

main {
  .split-container {
    .left-half {
      #sel-insurances {
        display: block;
      }

      nav.treeview-insurances {
        display: none;
      }
    }

    .right-half {
      h2 {
        margin-top: 0;
      }

      h2,
      h3 {
        color: $blue-primary;
      }
      article {
        margin-bottom: 3em;
      }
    }
  }
}

@media (min-width: 992px) {
  main {
    .split-container {
      .left-half {
        #sel-insurances {
          display: none;
        }

        nav.treeview-insurances {
          display: block;
        }
      }
    }
  }
}
