@import '../variables/colors';

main {
  .wrapper-solicitudes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .card-solicitud {
      min-width: 250px;
      margin: 1.1rem;

      .card-title-solicitud {
        color: $fs-blue-1;
        font-weight: bold;
        text-align: center;
      }

      .card-solicitud-footer {
        border-top: 0px;
        background-color: white;
        text-align: center;
      }
    }
  }

  .seguro-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;
    padding-bottom: 1rem;
    font-weight: bold;
    color: $fs-blue-1;
  }

  .wizard {
    width: 100%;
    form {
      margin-top: 1rem;
      .btn-file {
        padding: 0.375rem 0.75rem;
      }
    }
  }
}

@media (min-width: 992px) {
  main {
    .wizard {
      width: 750px;
      margin: 0 auto;
    }
  }
}
