@import '../shared/colors';

footer {
  .slogan {
    background: url('../../../images/backgrounds/bg-footer.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 11em;
    padding-bottom: 11em;
    position: relative;

    &::after,
    &::before {
      content: '';
      position: absolute;
      display: block;
      z-index: 3;
      width: 50%;
      height: 50px;
      background-image: radial-gradient(
        ellipse at top left,
        transparent 71.5%,
        $fs-red-1 75%
      );
      bottom: 0;
      background-repeat: no-repeat;
    }

    &::after {
      right: 0;
      background-image: radial-gradient(
        ellipse at top left,
        transparent 71.5%,
        $fs-red-1 75%
      );
    }

    &::before {
      left: 0;
      background-image: radial-gradient(
        ellipse at top right,
        transparent 71.5%,
        $fs-red-1 75%
      );
    }

    .slogan-overlay {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($color: #000000, $alpha: 0.8);
      z-index: 1;
    }

    .section-title {
      z-index: 2;
      position: relative;
    }
  }

  .footer-main {
    position: relative;

    .footer-main-block {
      padding-top: 1.5em;
      padding-bottom: 1.5em;

      &:first-child {
        text-align: center;
      }

      img#img-logo-footer {
        max-width: 250px;
        width: 100%;
        height: auto;
      }

      .footer-main-block-title {
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        font-size: 1.6rem;
        padding-bottom: 0.3em;
        position: relative;
        &::after {
          content: '';
          position: absolute;
          display: block;
          background-color: $fs-grey-1;
          width: 40%;
          height: 2px;
          left: 30%;
          bottom: 0px;
        }
      }

      .footer-main-block-body {
        padding-top: 0.8em;
        p {
          font-family: 'Nunito', sans-serif;
          font-size: 1rem;
          margin-bottom: 0;
        }
        img#img-logo-sbs {
          height: auto;
          width: 100%;
          max-width: 250px;
        }
      }
    }
  }

  .footer-copyright {
    font-family: 'Nunito', sans-serif;
    font-size: 0.9em;
  }
}

@media (min-width: 992px) {
  footer {
    .slogan {
      &::after {
        width: 50%;
        height: 35%;
        background-image: radial-gradient(
          ellipse at top left,
          transparent 71.5%,
          $fs-red-1 72%
        );
      }

      &::before {
        width: 50%;
        height: 35%;
        background-image: radial-gradient(
          ellipse at top right,
          transparent 71.5%,
          $fs-red-1 72%
        );
      }
    }

    .footer-main {
      .footer-main-block {
        padding-bottom: 3em;
        padding-top: 3em;

        img#img-logo-footer {
          width: 200px;
          height: auto;
        }

        .footer-main-block-title {
          text-align: left;
          font-size: 1.6rem;
          padding-bottom: 0.3em;
          position: relative;
          &::after {
            content: '';
            position: absolute;
            display: block;
            background-color: $fs-grey-1;
            width: 40%;
            left: 0;
            bottom: 0px;
          }
        }

        .footer-main-block-body {
          text-align: left;
          img#img-logo-sbs {
            height: auto;
            width: 200px;
          }
        }
      }
    }
  }
}
