@import '../variables';

.heading-page {
  background-color: $blue-primary;
  color: white;
  font-family: 'Montserrat', sans-serif;
  padding-top: 4em;
  padding-bottom: 4em;
  text-align: center;
}
