@import '../variables/colors';

header {
  background-color: white;
  color: $fs-blue-1;

  img#img-logo {
    height: 64px;
    width: auto;
  }
}

@media (min-width: 992px) {
  header {
    nav {
      li {
        margin-right: 0;
        a {
          color: $fs-blue-1;
          font-family: 'Nunito';
          padding: 0.5em 0.8em;
          font-weight: bold;
          font-size: 1rem;
          border-radius: 4px;
          &:hover {
            text-decoration: none;
            background-color: $fs-blue-1;
            color: white;
          }
        }
      }
    }
  }
}
