.split-container {
  display: grid;
  .left-half {
    padding-bottom: 2em;
  }
}

@media (min-width: 992px) {
  .split-container {
    grid-template-columns: 350px 1px auto;
    .left-half {
      grid-column: 1;
      padding-right: 2em;
      padding-bottom: 0;
      position: relative;
    }

    .divide {
      grid-column: 2;
      width: 1px;
      height: 100%;
      margin: auto;
      position: relative;
      overflow: hidden;
      background-color: #ccc;
    }

    .right-half {
      grid-column: 3;
      padding-left: 2em;
    }
  }
}
