@import '../variables/colors';

input.custom-file-input {
  &:focus {
    ~ .custom-file-label {
      border-color: $fs-blue-1;
      box-shadow: none;
    }
  }
}

label.custom-file-label {
  &:after {
    background-color: $fs-blue-1;
    color: white;
    &:hover {
      background-color: white;
      color: $fs-blue-1;
      transition: 0.5s;
    }
  }
}
