@import '../variables//colors';

.sw.sw-justified {
  > .nav {
    > li {
      flex: none;
    }
  }

  .toolbar {
    button.btn {
      color: white;
      font-weight: bold;
      background-color: $fs-blue-1;
      border: thin solid $fs-blue-1;
      margin-bottom: 5px;
    }
    button.btn:not(:disabled):not(.disabled) {
      &:hover {
        color: $fs-blue-1;
        background-color: white;
        border: thin solid $fs-blue-1;
      }
    }
  }
}
