@import '../variables/colors';

.color-fs-blue {
  color: $fs-blue-1;
}

.color-white {
  color: white;
}

.bg-color-white{
  background-color: #fff;
}

.bg-color-fs-red {
  background-color: $fs-red-1;
}

.bg-color-fs-red-2 {
  background-color: $fs-red-2;
}

.bg-color-fs-blue {
  background-color: $fs-blue-1;
}

.bg-color-fs-grey {
  background-color: $fs-grey-1;
}
