.section {
  padding-top: 3em;
  padding-bottom: 3em;
  background-color: #fff;

  .section-title {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 1.8rem;
    padding-bottom: 1rem;
    font-weight: bold;
  }
}
