@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/tables';

@import '../variables';

table {
  border-collapse: collapse;
  thead {
    background-color: $blue-primary;
    color: white;
  }
  tbody {
    color: $text-color;
  }
}
