main {
  .clients-cards-container {
    .card {
      width: 200px;
      height: auto;
      img {
        margin: 0 auto;
        padding-top: 0.5em;
        width: 150px;
        height: 150px;
      }
    }
  }
}
