main {
  section {
    .wrapper-customer {
      .customer-card {
        width: 200px;
        height: auto;
        text-align: center;
        color: $blue-primary;
        img {
          margin: 0 auto;
          padding: 1em;
          width: 150px;
          height: 150px;
        }
      }
    }
  }
}
