@import '../variables';
@import '../theme/button';

main {
  section#section-home-look-for-soat {
    overflow-x: hidden;
    text-align: center;
    #btn-quote-soat,
    #btn-buy-soat {
      margin: 1em;
    }
  }

  section#section-home-insurance-companies {
    .insurance-companies-wrapper {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      width: 100%;

      img.insurance-company-logo {
        height: auto;
        width: 160px;
        margin: 3em 2em;
        filter: grayscale(100%);
        cursor: pointer;
        &:hover {
          filter: grayscale(0);
          transition: filter 0.5s;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  main {
    section#section-home-insurance-companies {
      .section-heading {
        .section-title {
          text-align: left;
        }
      }
      .section-body {
        margin-bottom: 0;
      }
    }
  }
}
