@import '../variables';

main {
  section#section-about_us-mision-vision-values {
    article {
      text-align: center;
      margin-bottom: 4em;

      img {
        width: 150px;
        height: auto;
      }

      h2 {
        color: $blue-primary;
      }

      .wrapper-company-values {
        .company-value {
          display: grid;
          grid-template-columns: 64px auto;
          .company-value-icon {
            color: white;
            background-color: $grey-primary;
            padding: 0.5em;
          }
          .company-value-text {
            color: white;
            background-color: $blue-primary;
            padding: 0.5em;
          }
        }
      }
    }
  }

  section#section-about_us-staff {
    .staff-card {
      max-width: 300px;
      background-color: $blue-primary;
      color: white;
      border-color: $blue-primary;
      dl {
        margin-top: 0;
        margin-bottom: 0;
        p.worker-name {
          font-size: 1.3rem;
          margin: 0;
          font-weight: bold;
        }
        i.worker-job {
          font-weight: lighter;
        }
      }
    }
  }
}

@media (min-width: 576px) {
  main {
    section#section-about_us-staff {
      .staff-card {
        max-width: none;
        width: 350px;
      }
    }
  }
}

@media (min-width: 768px) {
  main {
    section#section-about_us-staff {
      .staff-card {
        max-width: none;
        width: 400px;
      }
    }
  }
}
