@import '../variables';

main {
  section {
    article{
      margin-bottom: 1em;
      &:last-child{
        margin-bottom: 0;
      }
    }
    .staff-card-container {
      .card {
        width: 100%;
        background-color: $azul-fs;
        color: white;
        padding: 0 1em;
        .card-body {
          .data-staff-grid {
            display: grid;
            grid-template-columns: 50px calc(100% - 50px);
            align-items: center;
            overflow-wrap: break-word;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  main {
    section {
      .staff-card-container {
        .card {
          width: 325px;
          &:first-child {
            margin-left: 0;
          }
        }
      }
    }
  }
}

@media (min-width: 992px) {
  main {
    section {
      .staff-card-container {
        .card {
          width: 360px;
          &:first-child {
            margin-left: 0;
          }
        }
      }
    }
  }
}
