/*@import '../variables';

main {
  .split-container {
    .left-half {
      #sel-requests {
        display: block;
      }

      nav.treeview-requests {
        display: none;
      }
    }

    .right-half {
      h2 {
        margin-top: 0;
      }

      h2,
      h3 {
        color: $blue-primary;
      }

      .wizard {
        width: 100%;
        form {
          margin-top: 1rem;
          .row {
            &:last-child {
              margin-bottom: 0;
            }
          }
          .btn-file {
            padding: 0.375rem 0.75rem;
          }
        }
      }

      ul.wrapper-compra-soat {
        list-style: none;
        padding-left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        li {
          margin: 1em 1.5em;
          a {
            img {
              width: 150px;
              height: auto;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 992px) {
  main {
    .split-container {
      .left-half {
        #sel-requests {
          display: none;
        }

        nav.treeview-requests {
          display: block;
        }
      }
    }
  }
}
*/