@import './variables';

.bgc-blue {
  background-color: $azul-fs;
}

.bgc-grey {
  background-color: $gris-fondo;
}

.bgc-white {
  background-color: white;
}

.clr-white {
  color: white;
}

.clr-blue {
  color: $azul-fs;
}