//  Colores
$rojo-fs: rgba(231, 54, 59, 1);
$azul-fs: rgba(71, 95, 138, 1);
$gris-fs: rgba(132, 134, 136, 1);

$rojo-alt-fs:rgb(161, 43, 47);

$gris-fondo: rgb(235, 235, 237);

$gris-texto: rgb(103, 103, 103);

//  Tamaño de letra
$encabezado1: 2.8rem;
$encabezado2: 2rem;
$encabezado3: 1.5rem;
$encabezado4: 1.2rem;
$parrafo: 1rem;

//  Tipografía
$fuente-titulo: "Montserrat", sans-serif;
$fuente-parrafo: 'Nunito', sans-serif;
