//  Colores
$rojo-fs: rgba(191, 50, 55, 1);
$azul-fs: rgba(70, 94, 137, 1);
$gris-fs: rgba(157, 163, 169, 1);

$rojo-alt-fs:rgb(161, 43, 47);

$gris-fondo: rgb(235, 235, 237);

$gris-texto: rgb(103, 103, 103);

//  Tamaño de letra
$encabezado1: 2.8rem;
$encabezado2: 2rem;
$encabezado3: 1.5rem;
$encabezado4: 1.2rem;
$parrafo: 1rem;

//  Tipografía
$fuente-titulo: "Montserrat", sans-serif;
$fuente-parrafo: 'Nunito', sans-serif;
