// Colors
$red-primary: #BF3237;
$red-secondary: #aa272b;
$blue-primary: #465e89;
$grey-primary: #9da3a9;

$text-color: #676767;

//  FontSize
$heading1: 2.5rem;
$heading2: 2rem;
$heading3: 1.5rem;
$heading4: 1.2rem;
